* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#mainContainer {
  width: 100%;
  height: 100%;
}

#board {
  position: relative;
  width: 70%;
  height: 90%;
  top: 5%;
  left: 15%;
  background-image: url("/img/board2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#canvas {
  border-radius: 6px;
  position: relative;
  left: 370px;
  top: 50px;
}

.toast-custom {
  background-color: #ffffff;
}

#registerForm {
  padding: 5px;
  display: none;
  justify-content: space-around;
  align-items: space-around;
  flex-flow: column nowrap;
  position: absolute;
  width: 15%;
  height: 20%;
  left: 42.5%;
  top: 50%;
  border: solid thin black;
  background-image: url("../img/background2.jpg");
  background-color: #ffffff;
  transform: scale(2.2);
  color: white;
}
